<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>to show a single user</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <main>
      <section>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
              <% users.forEach(eachUser=>{ %>
               <tr>
                <td>
                  <%= eachUser.name%>
                </td>
                <td>
                  <%= eachUser.email%>
                </td>
               </tr>
            <%  })%>
            </tbody>
      </section>
    </main>
  </body>
</html>